.navbar-nav .nav-link.active,
.navbar-nav .nav-link.show {
    color: #B03035;
}

.navbar-nav .nav-link:hover {
    color: #B03035;
}



::-webkit-scrollbar {
    width: 10px !important;
}

::-webkit-scrollbar-track {
    background: rgba(240, 238, 244, 0.6) !important;
    border-radius: 6px !important;
}

::-webkit-scrollbar-thumb {
    border-radius: 8px !important;
    background: #B03035 !important;
}

::-webkit-scrollbar-thumb:hover {
    cursor: pointer;
}

#myBtn {
    display: none;
    position: fixed;
    bottom: 20px;
    right: 30px;
    z-index: 99;
    font-size: 18px;
    outline: none;
    background-color: #B03035;
    cursor: pointer;
    padding: 15px;
    border-radius: 10px;
    border: 1px solid#fff;
}

#myBtn i {
    color: #fff;
    font-size: 20px;
}

#myBtn:hover {
    background-color: #555;
}

.float {
    position: fixed;
    width: 60px;
    height: 60px;
    bottom: 40px;
    left: 20px;
    background-color: #B03035;
    color: #FFF;
    border-radius: 50px;
    text-align: center;
    font-size: 30px;
    z-index: 100;
}

.my-float {
    margin-top: 16px;
}

.carousel-control-next,
.carousel-control-prev {
    opacity: 1 !important;
}



@media screen and (max-width:1399.99px) {

    .custom-arrow-2 {
        left: 10%;
        top: 50%;
    }

    .custom-arrow-1 {
        left: 10%;
        top: 65%;
    }

    .view-360-icons-main {
        margin-right: 25px;
    }

    .navbar-expand-lg .navbar-nav .nav-link {
        color: #000;
        font-size: 19px;
        font-weight: 400;
        margin-left: 0px;
    }
}

@media(max-width:1199.99px) {

    .custom-arrow-2 {
        left: 13%;
        top: 45%;
    }

    .custom-arrow-1 {
        left: 13%;
        top: 60%;
    }

    .navbar-expand-lg .navbar-nav .nav-link {
        color: #000;
        font-size: 19px;
        font-weight: 400;
        margin-left: 0px;
    }

    .fixed-top {
        width: 92%;
    }

    .bike-type h1 {
        font-size: 35px;
    }

}

@media screen and (max-width:1024px) {
    .scrambler-2 {
        position: relative;
        top: -81px;
    }

    .banner-img {
        position: relative;
        top: -32px;
        overflow-x: hidden;
    }

    .custom-arrow-2 {
        left: 13%;
        top: 45%;
    }

    .custom-arrow-1 {
        left: 13%;
        top: 60%;
    }

    .view-360-icons-main {
        margin-right: 15px;
    }

    .navbar-expand-lg .navbar-nav .nav-link {
        color: #000;
        font-size: 19px;
        font-weight: 400;
        margin-left: 0px;
    }


}

@media(max-width:992px) {

    .jawa {
        display: none;
    }

    .offcanvas-header {
        position: absolute;
        right: 5%;
        top: 0%;
    }

    .speedometer-content {
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        backdrop-filter: blur(16px) saturate(180%);
        background-color: rgba(255, 255, 255, 0.1);
        border-radius: 12px;
        padding: 15px;
    }

    .timeline::before {
        content: '';
        display: flex;
        justify-content: center;
        position: absolute;
        top: 0%;

        left: 0px;
        width: 100%;
        height: 2px;
        background: #ffffff;
        transform: translateY(-50%);

    }

    .navbar {
        width: 100%;

    }

    .timeline-main {
        display: flex;
        justify-content: center;
        align-items: center;
        margin-bottom: -100px;
    }

    .navbar-expand-lg .navbar-nav .nav-link {
        color: #000;
        font-size: 19px;
        font-weight: 400;
        margin-left: 10px;
    }

    .timeline {
        display: flex;
        flex-direction: row;
        justify-content: center;
        float: left;
        align-items: center;
    }

    .event-content1 {
        max-width: 400px;
        height: 150px;
        padding: 0px 0px;
    }

    .event-1::after {
        content: '';
        position: absolute;
        top: 0;
        left: 8%;
        width: 18px;
        height: 18px;
        background: #ffffff;
        border-radius: 50%;
        transform: translateY(-50%);
    }

    .event-2::after {
        content: '';
        position: absolute;
        top: 0;
        left: 44%;
        width: 18px;
        height: 18px;
        background: #ffffff;
        border-radius: 50%;
        transform: translateY(-50%);
    }

    .event-3::after {
        content: '';
        position: absolute;
        top: 0;
        left: 79%;
        width: 18px;
        height: 18px;
        background: #ffffff;
        border-radius: 50%;
        transform: translateY(-50%);
    }

    .event-1.active::after {
        position: absolute;
        left: 8%;
    }

    .event-2.active::after {
        position: absolute;
        left: 43%;
    }

    .event-3.active::after {
        position: absolute;
        left: 78%;
    }

    .color-palette {
        display: flex;
        flex-direction: row;
        justify-content: center;
        align-items: center;

    }

    .color-palette-info {
        margin-right: 15px;
    }

    .color-box {
        border-radius: 50%;
        height: 50px;
        width: 50px;
    }

    .color-palette-info p {
        display: none;
    }

    .color-palette-info-2 p {
        display: none;
    }

    .color-palette-info-3 p {
        display: none;
    }

    .palette-1-Roadster.active {
        background-color: #383838;
        border: 2px solid white;
        color: white;
    }

    .palette-1-scrambler.active {
        background-color: #383838;
        border: 2px solid white;
        color: white;
    }

    .palette-1-Adventure.active {
        background-color: #383838;
        border: 2px solid white;
        color: white;
    }

    .event-content1 h3 {
        font-size: 20px;
    }

    .event-content1 p {
        font-size: 15px;
        width: 100px;
    }

    .event-content2 p {
        font-size: 15px;
        width: 100px;
    }

    .event-content3 p {
        font-size: 15px;
        width: 100px;
    }

    .event-content1 {
        width: 150px;
    }

    .event-content2 {
        width: 150px;
    }

    .event-content3 {
        width: 150px;
    }

    .event-content1.active {
        width: 150px;
    }

    .event-content2.active {
        width: 150px;
    }

    .event-content3.active {
        width: 150px;
    }

    .banner-img {
        position: relative;
        overflow-x: hidden;
    }

    .banner-container {
        top: 67%;
    }

    .custom-arrow-2 {
        display: none;
    }

    .custom-arrow-1 {
        display: none;
    }


    .carosuel-controls {
        position: relative;

    }

    .icon-right {
        display: none;
    }

    .icon-left {
        display: none;
    }

    .progress {
        display: none;
    }

    .ourblogs-main {
        background: url('../src/Components/assets/OurBlogs/Ourblog-output.jpg');
        position: relative;
        background-repeat: no-repeat;
        background-size: cover;
        width: 100%;
        height: auto;
    }



}

@media screen and (max-width:768px) {
    .navbar {
        height: 115px;
        border-radius: 0px 0px 0px 0px;
        background: #FFF;
        z-index: 2000;


    }
    .custom-btn {
        background: url('../src/Components/assets/SpeedOmeter/custom.png');
        background-position: center;
        background-repeat: no-repeat;
        width: 260px;
        color: #FFF;
        font-family: "Racing Sans One";
        font-size: 17px;
        padding: 5px 10px;
        font-weight: 400;
        border: none;
    }

    .scrambler-text-container {
        position: relative;
        top: 20px;
    }

    .scrambler-1 {
        bottom: 94px;
        position: relative;
    }

    .logo {
        width: 120px;
    }
    .banner-info-icon-main-2 {
        position: fixed;
        top: 200px;
        right: -15px;
        z-index: 10;
      }
      .side-button {
        color: white;
        text-decoration: none;
        border-radius: 60px;
        height: 40px;
        display: inline-flex;
        align-items: center;
        overflow: hidden;
        width: auto;
        max-width: 70px;
        border-radius: 30px 0px 0px 30px;
        background: #2C2C2C;
        -webkit-transition: max-width 0.5s;
        transition: max-width 0.5s;
        padding-top: 25px;
        padding-bottom: 25px;
        padding-left: 11px;
      }
      .side-button-2 {
        color: white;
        text-decoration: none;
        border-radius: 60px;
        height: 40px;
        display: inline-flex;
        align-items: center;
        overflow: hidden;
        width: auto;
        max-width: 70px;
        border-radius: 30px 0px 0px 30px;
        background: #2C2C2C;
        -webkit-transition: max-width 0.5s;
        transition: max-width 0.5s;
        padding-top: 25px;
        padding-bottom: 25px;
        padding-left: 11px;
      }
      .side-button .icon img{
        width: 35px;
      }
      .side-button-2 .icon img{
        width: 35px;
      }
      

    .speedometer-content span {
        font-size: 18px;
    }

    .speedometer-content h2 {
        font-size: 20px;
    }



    .ourblogs-main-info-main h1 {
        font-size: 30px;
        max-width: 230px;
    }

    span {
        font-size: 30px;
    }

    .view-360-icons-main {
        margin-right: 15px;
    }

    .timeline-main {
        display: flex;
        justify-content: center;
        align-items: center;
        margin-bottom: -100px;
    }

    .timeline::before {
        content: '';
        display: flex;
        justify-content: center;
        position: absolute;
        top: 0%;
        left: 0px;
        width: 100%;
        height: 2px;
        background: #ffffff;
        transform: translateY(-50%);

    }

    .timeline {
        display: flex;
        flex-direction: row;
        justify-content: center;
        float: left;
        align-items: center;
    }

    .event-content1 {
        max-width: 400px;
        height: 150px;
        padding: 0px 0px;
    }

    .event-1::after {
        content: '';
        position: absolute;
        top: 0;
        left: 12%;
        width: 18px;
        height: 18px;
        background: #ffffff;
        border-radius: 50%;
        transform: translateY(-50%);
    }

    .event-2::after {
        content: '';
        position: absolute;
        top: 0;
        left: 48%;
        width: 18px;
        height: 18px;
        background: #ffffff;
        border-radius: 50%;
        transform: translateY(-50%);
    }

    .event-3::after {
        content: '';
        position: absolute;
        top: 0;
        left: 82%;
        width: 18px;
        height: 18px;
        background: #ffffff;
        border-radius: 50%;
        transform: translateY(-50%);
    }

    .event-1.active::after {
        position: absolute;
        left: 10%;
    }

    .event-2.active::after {
        position: absolute;
        left: 45%;
    }

    .event-3.active::after {
        position: absolute;
        left: 80%;
    }


    .color-palette {
        display: flex;
        flex-direction: row;
        justify-content: center;
        align-items: center;

    }

    .color-palette-info {
        margin-right: 10px;
    }

    .color-palette-info-2 {
        margin-right: 10px;
    }

    .color-palette-info-3 {
        margin-right: 10px;
    }


    .color-box {
        border-radius: 50%;
        height: 30px;
        width: 30px;
    }

    .color-palette-info p {
        display: none;
    }

    .color-palette-info-2 p {
        display: none;
    }

    .color-palette-info p {
        display: none;
    }


    .palette-1-Roadster.active {
        background-color: #383838;
        border: 2px solid white;
        color: white;
    }

    .palette-1-scrambler.active {
        background-color: #383838;
        border: 2px solid white;
        color: white;
    }

    .palette-1-Adventure.active {
        background-color: #383838;
        border: 2px solid white;
        color: white;
    }

    .event-content1 h3 {
        font-size: 15px;
    }

    .event-content1 p {
        font-size: 10px;
        width: 100px;
    }

    .event-content2 p {
        font-size: 10px;
        width: 100px;
    }

    .event-content3 p {
        font-size: 10px;
        width: 100px;
    }

    .event-content1 {
        width: 80px;
    }

    .event-content2 {
        width: 80px;
    }

    .event-content3 {
        width: 80px;
    }

    .event-content1.active {
        width: 80px;
    }

    .event-content2.active {
        width: 80px;
    }

    .event-content3.active {
        width: 80px;
    }

    .ac {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }

    .speedometer-content p {
        font-size: 16px;
    }

    .speedometer-content {
        padding: 10px;
    }

    .left-icon {
        font-size: 40px;
        padding: 12px;
        font-weight: 100;
        color: white;
        border: 1px solid rgb(255, 255, 255);
        border-radius: 50%;
    }

    .right-icon {
        font-size: 40px;
        font-weight: 100;
        color: white;
        padding: 12px;
        border: 1px solid rgb(255, 255, 255);
        border-radius: 50%;
    }

    .view-360-icons {
        margin-right: 26px;
        margin-bottom: 10px;
    }

    .view-360-container-info {
        h1 {
            color: #000;
            width: 100%;
            font-family: 'Racing Sans One', sans-serif;
            font-size: 35px;
            font-style: normal;
            font-weight: 400;
            line-height: 65px;
        }

        span {
            color: #FF0;
            font-family: 'Racing Sans One', sans-serif;
            font-size: 45px;
            font-style: normal;
            font-weight: 400;
            line-height: 65px;
            padding-left: 10px;
        }
    }

    .back-page {
        margin-left: 0px;
        font-size: 16px;
        color: rgb(163, 163, 163);
    }

    .back-page:hover {
        color: rgb(255, 255, 255);
    }
    .footer-wrapper-main {
        padding-left: 0px; 
        padding-right: 0px;
    }


}







@media screen and (max-width:600px) {


    .view-360-container-info {
        h1 {
            color: #000;
            width: 100%;
            font-family: 'Racing Sans One', sans-serif;
            font-size: 25px;
            font-style: normal;
            font-weight: 400;
            line-height: 65px;
        }

        span {
            color: #FF0;
            font-family: 'Racing Sans One', sans-serif;
            font-size: 30px;
            font-style: normal;
            font-weight: 400;
            line-height: 65px;
            padding-left: 10px;
        }
    }

    .map-location {
        margin-top: 30px;
    }

}